/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: rgba(109, 109, 105, 0.629);
    background-image:url(assets/stars.jpeg);
    background-size: cover;

    color: azure;
}

h1 {
    color: rgb(245, 255, 244);
    text-align: center;
}

h2 {
    color: rgb(0, 225, 225);
}

p {
    color: rgb(250, 238, 255);
    text-align: center;
}

footer {
    position: fixed; bottom: 0em;
    text-align: center;
}

/* to call a class put a . before its name */
.newacronym{
    color: rgb(233, 245, 241);
}

h3{
    color:rgb(238, 224, 251)
}
.box1 {
    border: thick double rgb(105, 255, 223);
    color: aliceblue;
    padding: 1em;
}
.first{
    text-align: center;
}
.second{
    text-align: center;
}